<div class="box">
    <h3>Thank you!</h3>

    <h5>Your purchase was successfuly!</h5>

    <h5>Your ticket: {{newTk.id}}   with a amount of ${{newTk.amount}}</h5>

    <p>We will send your ticket to your mail too {{newTk.purchaser}}.</p>
 

    <a href="/session/profile">Back to profile</a>

</div>
<br><br><br><br>
