#navbarSupportedContent{
   align-items: center;
   justify-content: center;
}
body{
    position: relative;
    min-height: 100vh;
    /* padding-bottom: 1em; */
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
  
}